[MESSAGES CONTROL]
    disable=
        line-too-long,
        too-many-locals,
        missing-module-docstring,
        broad-except,
        too-many-return-statements,
        missing-function-docstring,
        no-self-use,
        missing-class-docstring,
        import-error,
        invalid-name,
        global-statement,
        too-many-nested-blocks,
        too-many-instance-attributes,
        bare-except,
        consider-using-set-comprehension,
        consider-using-dict-comprehension,
        expression-not-assigned,
        unused-argument,
        unnecessary-pass,
        too-many-lines